
ul{
    list-style: none;
    display: block;
    margin-top: 15px;

}

ul li{
    display: inline;
    position: relative;
    margin: 7px;

    
}

ul li a:hover {
    color: rgba(245, 245, 245, 0.981);
    text-decoration: none;
    
}
ul li a {
    color: rgba(245, 245, 245, 0.692);
    
}




font {

    font-family: 'Raleway', sans-serif;
   
}


.card {
    margin:15px;
}

.purple {
    color: purple;
}


body {

    background-color: #E9ECEF;
    
}


img {
    width: 300px; 
    height: 300px;
}

